body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right ,#9055FF , #13E2DA);
    
}
h1{
    font-size:xx-large;
    font-family: 'Press Start 2P', cursive;
}
.container{
    display:flex;
    height: 10vh;
}

.header{
    font-size: medium;
    justify-content: center ;
    align-items: center;
    margin: auto;
}

.grid{
    border: solid rgb(0, 0, 0) 2px;
    width: 500px;
    height: 500px;
    display: grid;
    background: #000;
  }

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.panel{
    border: solid cyan 2px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}
.colorCard{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-size: medium;
}

.colorPicker{
    padding: 0;
    width:50px;;
    outline: none;
} 

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    background-color: gray;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    background-color: gray;
    opacity: 1; /* Fully shown on mouse-over */
  }

.sizeText{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.rangeVal
{
    justify-content: center;
}

.button{
        width: 100%;
        cursor :pointer;
        height: 40px;
        font-size: medium;
}
