body{
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}
.container{
    display:flex;
    border: 2px solid grey;
    height: 10vh;
}

.header{
    font-size: medium;
    justify-content: center ;
    align-items: center;
    margin: auto;
}

.grid{
    width: 500px;
    height: 500px;
    display: grid;
    background: #000;
  }

.main{
    display: flex;
    border: solid grey 2px;
    justify-content: center;
    align-items: center;
    
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
/*input[type = color]
{
    border: none;
}

.colorPicker{
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
} */
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
  input[type=color]::-webkit-color-swatch-wrapper {
      border: none;
      border-radius: 50%;
      padding: 0;
  }